{{template "base" .}}

{{define "css"}}
    <style>
        .room-image {
            max-width: 50%;
        }
    </style>
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>This will be the contact page!</h1>
            </div>
        </div>
    </div>
{{end}}